<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="container">
       <h1 class=""> Cocktails </h1>
    </div>
  </div>


  <%= link_to '+ Cocktail', new_cocktail_path %>

    <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <div class="card-product m-2 ">
          <%= cl_image_tag cocktail.photo, height: 150, width: 200, crop: :fill %>
          <div class="card-product-infos text-center">
            <h3> <%= cocktail.name %> </h3>
            <p><%= link_to 'Voir', cocktail_path(cocktail) %> |
            <%= link_to '- Supprimer', cocktail_path(cocktail), method: :delete %></p>
          </div>
        </div>
      </li>
    <% end %>
    </ul>

</div>
